<div *ngIf="post" class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img [src]="post.imageUrl" alt="Placeholder image">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div>
        <div class="title is-4">{{post.name}}</div>
        <div class="subtitle is-6">@{{post.username}}</div>
      </div>
    </div>

    <div class="content">
      {{ post.description}}
      <br>
      <time datetime="2016-1-1">{{post.day}}</time>
    </div>
  </div>
</div>